@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
}

/* ============================== */

body {
  font-family: 'Playfair Display', sans-serif;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0891b3;
  flex-wrap: wrap;
  padding: 5% 5% 10% 5%;
  clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 3vw), 0% 100%);
}

.header-picture {
  width: 30rem;
  height: 35rem;
  object-fit: cover;
}

.image-container {
  position: relative;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
}

.my-name {
  position: absolute;
  bottom: 10px;
  left: 70px;
  color: #fff;
  font-family: 'Playfair Display', sans-serif;
  font-size: 2.25rem;
  font-weight: 400;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  gap: 16px;
  background-color: #fff;
  padding: 1rem 2rem;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
}

.about-me-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 3rem;
  font-weight: 400;
}

.about-me-subtitle {
  font-size: 1.25rem;
  color: #646464;
  font-family: 'Roboto', sans-serif;
}

.social-media-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row-reverse;
  gap: 32px;
}

.link {
  font-size: 1.75rem;
  color: #000;
}

/* My Projects Section */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.my-projects {
  margin-bottom: 2rem;
  font-family: 'Playfair Display', sans-serif;
  font-size: 3rem;
  font-weight: 400;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  width: 90%;
  max-width: 1200px;
  justify-content: center;
  grid-template-rows: 1fr 1fr;
}

.project {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
}

.project-name-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.project-description {
  padding: 20px;
}

.github-link {
  display: flex;
  align-items: center;
  gap: 20px;
}

.project-screenshot-container {
  width: 100%;
  aspect-ratio: 4/3;
  overflow: hidden;
}

.project-screenshot {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dashboard,
.todo-app {
  object-position: left;
}

/* My Projects Section End */

/* Footer */

.footer {
  background-color: #0891b3;
  padding: 5rem;
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20rem;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  color: #fff;
}

.contact-me {
  font-size: 3.5rem;
  font-weight: 400;
}

.fa-phone,
.fa-envelope {
  margin-right: 16px;
  font-size: 22px;
}

.contact-description,
.address,
.phone-number,
.email {
  font-size: 1.75rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.footer-social-media-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-picture {
  width: 500px;
  height: 600px;
  object-fit: cover;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
}

/* Media queries */

@media (width < 768px) {
  .header {
    padding: 5% 5% 10% 5%;
  }

  .header-picture {
    width: 25rem;
    height: 25rem;
  }

  .my-name {
    font-size: 1.5rem;
    left: 10px;
  }

  .projects-grid {
    display: flex;
    max-width: 350px;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }

  .footer {
    padding: 1.87rem;
  }

  .left-side {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
  }

  .contact-me {
    font-size: 2.5rem;
  }

  .contact-description {
    font-size: 1.25rem;
    text-align: center;
  }

  .address {
    font-size: 1.25rem;
  }

  .phone-number {
    font-size: 1.25rem;
  }

  .email {
    font-size: 1.25rem;
  }

  .link {
    font-size: 2rem;
  }

  .right-side {
    display: none;
  }
}